<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>ABOUT</h2>
            <h3>THE LEADING PLUMBING SERVICE PROVIDER IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">
                         <p>Calgary Service Plumbers is the fastest-growing independent plumbing contractor in Calgary.</p>
                    </div>

                    <div class="blog-item">
                        <h4><b>GETTING OVER CHARGED?</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
               <p>Let’s face it – most <b>plumbers</b> provide lousy service: they don’t show up on time, they overcharge their customers, they carry inferior equipment and replacement parts, they leave behind a mess after they’ve done their work, there are no warranties on work done, and they generally leave people pretty unsatisfied.</p>
               <p>We started CSP with one goal in mind: <b>to build a service company that is dedicated to providing everything that most plumbers fail to provide.</b></p>
               <p>Knowledgeable, experienced, polite, well-trained plumbers Fully-equipped service vans loaded with equipment and tools The latest equipment and technologies to handle any plumbing problem Excellent, responsive customer service, fast dispatch time Electronic dispatching and invoicing Exclusive written warranty on parts and labor.</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h4><b>And the market embraced our vision</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <p>
                    <div class="row">
                        <div class="col-sm-8"> Our vans are now seen all over town, with our hardworking, great plumbing teams solving all kinds of plumbing problems for residential customers. We know everything about plumbing, have all the right tools and equipment to do any job, and our guys all have the right attitude: show up on time, get the job done fast for a fair price, clean up after the job, provide useful tips so customers can maintain their plumbing systems throughout the year, and generally leave the customer with a good feeling after the job is complete.
                        </div>
                        <div class="col-sm-4">
                            <img class="img-responsive img-blog" src="http://mrspeedyplumbing.com/wp-content/uploads/2011/07/Mr-Speedy-Plumbing-20061.jpg"  alt="" />
                        </div>
                    </div>
                    </p>
                <p>We have succeeded at this, and are very happy with the results. We now have satisfied customers who rely on us every time they need plumbing service. We have many regular residential accounts, including several major national retail chains and local landmark restaurants. And much of our work comes from word of mouth – the best kind of advertising there is.</p>
                <p>And we are unique in one other way – we are a “green” company. Four years ago we made a commitment to become a paperless office: we developed custom proprietary computer software and are now completely paperless. This saves paper and allows us to dispatch, schedule and invoice electronically, which makes our response time more efficient and saves you, the customer, valuable time.</p>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h4><b>SERVICE GUARANTEE:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <p>Customer service is our top priority. We offer quality service. If you should have an emergency, our fully equipped radio dispatched service vehicles are available. You can count on our team of licensed technicians to arrive on time and prepared to resolve any plumbing issue.</p>                
                                    </div>
                                </div>
                            </div>
                    </div>


                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SW <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: +1 403-475-5552 <br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>