<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="contact-info">
        <div class="center">                
            <h2>How to Reach Us?</h2>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.9849605515333!2d-113.9828868!3d51.0348985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717ae6bd9b42ad%3A0x9068841822bdd9ec!2s2036+35+St+SE%2C+Calgary%2C+AB+T2B+0W9%2C+Canada!5e0!3m2!1sen!2sin!4v1427540187880" width="600" height="450" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-4 map-content">
                        <ul class="row">
                            <li class="col-sm-12 pad_top2">
                                <address class="font_16">
                                    <h4><b>WE LOVE TO HEAR  FROM YOU</b></h4>
                                    <p>If you have a question, comment, or a suggestion on how we may better serve you, we welcome and value your input.</p>
                                    <p>2036 35 St SW <br>
                                    T2B0W9 Calgary, Alberta</p>
                                    <p>Phone: +1 403-475-5552 <br>
                                    Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section>
        <div class="container">
        <div class="blog">
            <div class="row">
                <div class="col-sm-6 text-justify">
                   
                       <!--  <h6>Installation and Repair, All Major Brands on Sale, Calgary, CA</h6> -->
                    <div class="blog-item">
                <h3><b>Communication is our Lifeline</b></h3>                             
                                <div class="blog-content">
                                    <div class="media-body">
                <p>We are pioneers in intra-company communications. Your time is valuable: we know you don’t want to spend your day waiting for the plumber to show up.
                </p> 
                <p>With that in mind, Mr Speedy designed and developed its own <u>field-service management</u> software, giving us instant two-way communication with our plumbing technicians at any time, making us one of the most service-accessible and efficient plumbing companies you’ll ever call.</p>
                                    </div> 
                                </div>

                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>                            
                       </div>
                            
                    </div>

                </div><!--/.col-md-8-->

                <aside class="col-sm-6">
                    
        <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>LET’S CONNECT</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
 
  <div class="form-group">
    <%= f.label :'Message *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "3", class: "form-control",  placeholder: 'Write your message', rows: "4", required: true  %>
  </div>
 
  <div class="actions">
    <%= f.submit 'Send', tabindex: "4", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                        
                    
                </aside>     

            </div>

         </div>
     </div>
    </section>


    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>