<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>DRAIN CLEANING</h2>
            <h3>DRAIN CLEANING IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">
                        <h3><b>WHOOSH! $99 Clears Any Main Drain</b></h3>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive img-blog" src="/assets/drain/woosh.jpg"  alt="" />
                    </div>
                    <div class="col-sm-8 pad_top2">
                        <p>A clogged drain is a true emergency. It has to be done fast and it has to be done right. CSP Plumbing & Drains does both at an extremely affordable price. For $99 we will clear your residential house main drain using our standard 50’ drain machine. We will also include a video inspection using our state of the art technology to thoroughly diagnose the cause of the blockage and to prevent it from happening again. All for $99. Call us now at 403-475-5552 to have your sewer cleared today!</p>
                    </div>
                </div>
                        <p>The $99 promotion applies to drains only that are currently backing up when the water is being used. All other drain cleaning services including preventative maintenance do not apply for the $99 drain cleaning promotion.</p>
                        <p>Our expert plumbers have the proper equipment and expertise to solve any other clogged drain issue you may have. We’ll do it fast, we’ll do it efficiently and leave the work area as clean as he found it!</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h4><b>Some other cleaning, repair and replacement services we provide include:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <ul class="list-unstyled">
                    <li><i class="fa fa-hand-o-right"></i> <a href="/drain-replacement">Drain Replacement</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/drain-repair">Drain Repair</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/sewer-cleaning">Sewer Cleaning</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/Camera-Inspection">Camera Inspection</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/hydro-jetting">Hydro Jetting</a></li>
                </ul>

                <p>Call us now at <a href="tel:+14034755552"><b>403-475-5552</b></a> to have any drain problem you may might have solved professionally and efficiently.</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div> -->
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>