<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>DRAIN REPAIR</h2>
            <h3>DRAIN REPAIR IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                  <div class="blog-item">
                    <!-- <h3><b></b></h3> -->
                    <!--<img class="img-responsive img-blog" src="/assets/drain/do-this-not-this.jpg"  alt="" />-->
                    <p>At CSP Plumbing, drain replacement is one of our specialties. What sets us apart from the others? Unlike most companies, we genuinely care about our clients and their property. If you find yourself in need of a new drain, give us a call and one of our experts will discuss all of your options with you. Below is some information on the two most common ways we will replace your drain:</p>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 blog-content">
                        <div class="media-body">
                          <!--<h4><b>Pipe Bursting:</b></h4>-->
                          <!--<p>This technique allows us to punch out the old drain while installing a new one at the same time. Pipe bursting requires an entry and exit point, and can replace an entire drain completely with minimal disruption to your property.</p>-->
                          <!--<h4><b>drain Re-lining:</b></h4>-->
                          <!--<p>This is a tried and tested method which involves placing a new pipe within an existing damaged pipe, without the need for any excavation and with minimal disruption.</p>-->
                          <h4><b>Excavation:</b></h4>
                          <p>If a drain has collapsed, the only way to repair it is by excavation. Tree roots will cause the pipe to collapse as the tree exerts tremendous force from above while the foundation gets eroded below.</p>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="blog-item">
                    <!--<h3><b>WHOOSH! $99 Clears Any Main drain</b></h3>-->
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 blog-content">
                        <div class="media-body">
                          <div class="row">
                            <div class="col-sm-4">
                              <img class="img-responsive img-blog" src="/assets/drain/woosh.jpg" alt="Clean Main Drain"/>
                            </div>
                            <div class="col-sm-8 pad_top2">
                              <p>A clogged drain is a true emergency. It has to be done fast and it has to be done
                                right. CSP Plumbing & Drains does both at an extremely affordable price. We will clear
                                your residential house main drain using our standard 50’ drain machine. We will also
                                include a video inspection using our state-of-the-art technology to thoroughly diagnose
                                the cause of the blockage and to prevent it from happening again.</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>


                    <div class="blog-item">
                        <h4><b>Some other cleaning, repair and replacement services we provide include:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                                      <ul class="list-unstyled">
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_cleaning">Drain Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_repair">Drain Repair</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/sewer_cleaning">Sewer Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/camera_inspection">Camera Inspection</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/hydro_jetting">Hydro Jetting</a></li>
                                      </ul>

                <p>Call us now at <a href="tel:+14034755552"><b>403-475-5552</b></a> to have any drain problem you may might have solved professionally and efficiently.</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    

                    
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="Bathroom Plumbing" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="Sink Plumbing" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="General Plumbing" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="Home Plumbing" /></li>
    </ul>
                    </div>
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Calgary Service Plumber",
  "image" : "http://www.calgaryserviceplumbers.com/assets/logo.jpg",
  "telephone" : "+1 (403) 475-5552",
  "email" : "info@calgaryserviceplumbers.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "2036 35 St SE",
    "addressLocality" : "Calgary",
    "addressRegion" : "Canada",
    "postalCode" : "T2B 0W9"
  },
  "openingHoursSpecification" : {
    "@type" : "OpeningHoursSpecification",
    "dayOfWeek" : {
      "@type" : "DayOfWeek",
      "name" : "Open Weekends and Evenings"
    }
  },
  "url" : "http://www.calgaryserviceplumbers.com/"
}
</script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>