<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>CAMERA INSPECTION</h2>
            <h3>CAMERA INSPECTION IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">
                        <h3><b>Video Camera Drain Inspection In Calgary</b></h3>
                        
                        <img class="img-responsive img-blog" src="/assets/drain/camera-inspection.png"  alt="" />
                        
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body"> 
                <p><b>Video pipe inspection</b> utilizes a special waterproof camera connected to a long spool of wire, not all that unlike a plumbing snake. This small camera is specifically designed to be able to pass through drain pipes, withstanding the harsh conditions to provide a clear picture, even through standing water. To locate a problem, your Calgary plumber will thread the camera into your pipes, usually through a sewer cleanout, uncoiling the wire as the camera passes further down the pipe. As the camera moves thorough your plumbing, the technician will be able to see the interior of your pipes on a small video screen. In this way, a pipe inspection can precisely locate all types of problems, including:</p> 

                <ul class="list-unstyled">
                    <li><i class="fa fa-hand-o-right"></i> Blockages and buildup</li>
                    <li><i class="fa fa-hand-o-right"></i> Root intrusion</li>
                    <li><i class="fa fa-hand-o-right"></i> Pipe damage such as cracks and breaks</li>
                </ul>

                <p>In the majority of cases, once your plumber has discovered where the problem lies, he or she will be able to resolve the issue without digging up your yard or tearing up your floor. In cases of root intrusion or blockages, often scouring out the pipes with a hydro jet (pressurized water) technique will eliminate the problem, all from the inside of the pipe</p>

                <p>Using a <b>plumbing camera</b> to locate the problem doesn’t always mean that the issue can be solved without excavation. For example, in the case of a sewer drain pipe that’s actually broken in two, the line will need to be replaced. However, by using a <b>sewer line camera</b> to pinpoint the damaged section of pipe, your Calgary plumber will be able to dig up this specific spot, rather than excavating the entire line in search of the issue. This helps streamline the whole process and minimizes the damage to your yard that will be required to get your plumbing working again.</p>

                <p>So the next time you’re experiencing a <b>plumbing backup</b> or <b>drain problem</b>, ask your Calgary plumber if a <b>video pipe inspection</b> might be right for your project. You may be surprised at how much faster, easier, and less invasive fixing your pipes’ problem may be when you have a sewer line camera on the job!</p>

                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h4><b>Some other cleaning, repair and replacement services we provide include:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <ul class="list-unstyled">
                    <li><i class="fa fa-hand-o-right"></i> <a href="/drain-cleaning">Drain Cleaning</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/drain-replacement">Drain Replacement</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/drain-repair">Drain Repair</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/Camera-Inspection">Camera Inspection</a></li>
                    <li><i class="fa fa-hand-o-right"></i> <a href="/hydro-jetting">Hydro Jetting</a></li>
                </ul>

                <p>Call us now at <b>403-475-5552</b> to have any sewer cleaning you may might have solved professionally and efficiently.</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                   

                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SW <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: +1 403-475-5552 <br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div>
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>