<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>BACKWATER VALVE INSTALLATION</h2>
            <h3>BACKWATER VALVE INSTALLATION IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                  <h3><b>Backwater Valve Installation</b></h3>
                    <div class="blog-item">
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                <p><b>Installing a backwater valve will prevent sewer drains from backing up and overflowing with sewer water – eliminating sewer backflow as a source of basement flooding.</b></p>
                <h3>Eliminate main drain backflow</h3>                                        
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive img-blog" src="/assets/drain/backwater_drain.jpg"  alt="Drain Backwater" />
                    </div>
                    <div class="col-sm-8">
                        <p>Sewer backflow is a problem in the City of Calgary we experience very heavy rainfall during the summer months which can cause the municipal sewer system to backup through the sewer drains of homes and property.</p>
                        <p>The most effective method to prevent the backflow of sewer water is a simple device called a backwater valve. Installation of a backwater valve prevents water from traveling back into your home as it is a one-way valve. It is bylaw now that modern homes are built with backwater valves installed, but the majority of older homes are still at risk of basement flooding via sewer backflow, which can be a very costly and traumatic experience.</p>
                    </div>
                </div>                
                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                <p><b>In particularly bad weather it is not uncommon for water damage to be in excess of $25,000+ – protecting your home is always a good idea when compared with the potential cost, loss of personal property, and inconvenience of basement flooding.</b></p>  
                <img class="img-responsive img-blog" src="/assets/drain/backwater_home.jpg"  alt="Drain Backwater" />
                <h3><b>How can I tell if I need a mainline backwater valve?</b></h3>
                <p>Depending on how flood prone your home is you may know already whether or not you require a backwater valve. When required, a backwater valve will be the difference between a flooded basement filled with sewage and a clean and dry basement.</p>
                <p>One simple way to tell whether you require a backwater valve is to consider your location to the nearby sewer system that services your home and surrounding properties. Imagine there is a street on a gradual hill, there are three homes on this street and the sanitary sewer drain is located at the top of the hill. If the homes further down the hill are below the top of the sanitary sewer than there is a good chance that the sewer will backflow into those homes.</p>
                <p>Under these circumstances a backwater valve will need to be installed to ensure that these basements do not flood. Additionally, there are circumstances where there does not appear to be any specific cause for concern, but when it rains the sewer system backs up and into people’s homes. In these situations installation of a backwater valve will also be helpful.</p>                                      
                
                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h3><b>What exactly is a mainline backwater valve?</b></h3>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
                <div class="row">
                    <!-- <div class="col-sm-4">
                <img class="img-responsive img-blog" src="/assets/drain/backwater_installation.jpg"  alt="" />
                    </div> -->
                    <div class="col-sm-12">
                        <img class="img-responsive myimg" src="/assets/drain/backwater_installation.jpg"  alt="Backwater Installation" />
                        <div class="mydoc">
                        <p>Developed by a plumbing contractor in the City of Edmonton, the mainline backwater valve was an innovation in sewer backup protection. Typically, plumbers would need to install check valves on all of the sewer branch lines in the home. This meant that the kitchen drain, the bathroom drain, the laundry drains all needed to have their own backflow protection. The biggest problem that was noted with each line having its own check valve was that these valves were all over the place, behind walls, under floors, out of sight and hard to access. Not only was that an annoyance to maintain these valves but when these sewer drain were clean a check valve could easily be damaged by the drain snake. Further, it would be very hard to tell if the check valve had been damaged, it would only be obvious when made evident by a flooding problem.</p>
                        <p>Enter the mainline backwater valve; this valve installs directly on the main sewer drain of the property and virtually eliminates the need for multiple check valves scattered throughout the house.</p>
                        <p>The real innovation of the mainline backwater valve is that it remains open while in its natural position. This is very important as the sewer line must be able to vent gases, the normally open position of the backwater valve allows for unrestricted flow of waste water out and sewer gases in. However, in the event of sewer backflow the valve closes, restriction the access of this backflow and preventing flooding problems. With earlier closed valves this was just feasible.</p>
                        <p>The inception of the backwater valve is quite interesting, and is a piece of Canadian plumbing history.</p>
                        <p><b>Backed up drains</b> are a nuisance. They are smelly, unsanitary and change your daily routines. We'll be there FAST to unclog your drain or install Back Water Valve and leave the work area as clean as we found it!</p>
                        </div>
                    </div>
                </div>
                                
                                    </div> 
                                </div>
                            </div>

                    <h4><b>Call Calgary Service Plumbers Now, to Schedule your plumbing service in Calgary! <a href="tel:+14034755552"><b>403-475-5552</b></a></b></h4>
                    
                    </div>

                    <div class="blog-item">
                        <h4><b>Some other cleaning, repair and replacement services we provide include:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                                      <ul class="list-unstyled">
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_cleaning">Drain Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_repair">Drain Repair</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/sewer_cleaning">Sewer Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/camera_inspection">Camera Inspection</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/hydro_jetting">Hydro Jetting</a></li>
                                      </ul>

                <!-- <p>Call us now at <a href="tel:+14034755552"><b>403-475-5552</b></a> to have any sewer cleaning you may might have solved professionally and efficiently.</p> -->
                                    </div> 
                                </div>
                            </div>
                    </div>

                    
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div>
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>