<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>SEWER CLOG REMOVAL</h2>
            <h3>SEWER CLOG REMOVAL SERVICES IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <p>Calgary Service Plumbers is your go-to helpline for sewer clog removal solutions in Calgary and nearby areas. Dealing with certain household problems can be procrastinated to some extent. But when it comes to clogged sewers, you must call for professional help as soon as possible.</p>
                    <div class="blog-item">                       
                        <h4><b>When do you Know if the Sewer is Clogged?</b></h4>
                        <p>A sluggish sewer is a sign that your sewer is soon going to be completely clogged ultimately causing a smelly mess for you and your family. Although we would prefer to assist you with a clogged sewer way before things get out of hand, however, we understand that due to work, family and other responsibilities, it’s likely for you to ignore sewer clog services.</p>
                    </div>

                    <div class="blog-item">
                        <h4><b>Common Reasons For a Clogged Sewer</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                    
                                    <div class="media-body">                                        
                <h4><b>Broken Pipes:</b></h4>
                        <p>Broken or ruptured sewer pipes are one big reason for a clogged or would-be clogged sewer. If the sewage is unable to drain-out from the system properly, it will lead to smelly and filthy backups. A sewer pipe rupture can be caused due to increased ground movement and traffic and usage of inferior quality of material while construction.</p>
                <h4><b>Tree & Shrub Roots:</b></h4>
                        <p>Old sewer lines were constructed either out of clay or some other porous material. Moreover, the connections between their sections were not as tight as they are today in case of PVC pipes. Therefore, when the roots of trees and shrubs grow, they stretch in search of water and ultimately land up in the sewer pipe of your home or office.</p>
                <h4><b>Debris:</b></h4>        
                        <p>Any kind of debris like toilet paper or objects that are accidentally flushed down in the toilet can also make the toilet sewer clog-up. In fact, toilet paper, in particular, can end up catching onto tree roots or some other obstructions that are poking from the sides of the sewage pipe. Eventually more toilet paper gathers at that spot resulting in a big clog.</p>
                <h4><b>Grease and Oil:</b></h4>        
                        <p>Grease, fats and oil also contribute significantly in clogging sewer lines. Pouring grease or any sort of oil down the drain is never a good idea. In case you want to throw away hot grease, pour it in a coffee can and once it solidifies, throw it in the dustbin. People also think that running hot water while pouring grease can help but it doesn’t.</p>
                        
                                    </div> 
                                </div>
                            </div>
                    </div>


                    <div class="blog-item">                     
                        
                        <h4><b>Our Various Sewer Services</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                    
                                    <div class="media-body">                                        
                <h4><b>Sewer Repair:</b></h4>
                        <p>Our professionals can provide the best sewer clog repair service when blockages have become persistent and immovable like roots, debris etc.</p>
                <h4><b>Sewer Unclogging:</b></h4>
                        <p>We, at Santos, have the most advanced sewer unclogging tools including motorized drain snakes to help your sewer get unclogged in not time.</p>
                <h4><b>Sewer Inspection:</b></h4>        
                        <p>Experts at our firm can provide the best sewer inspection services by making use of the latest technology like CCTV sever inspection.</p>
                       
                <p><b>Call Calgary Service Plumbers Now, to Schedule your Sewer Cleaning service in Calgary! <a href="tel:+14034755552">403-475-5552</a></b></p>
                        
                                    </div> 
                                </div>
                            </div>
                    </div>

                    


                    <div class="blog-item">
                        <h4><b>Some other cleaning, repair and replacement services we provide include:</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                                      <ul class="list-unstyled">
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_cleaning">Drain Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/drain_repair">Drain Repair</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/sewer_cleaning">Sewer Cleaning</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/camera_inspection">Camera Inspection</a></li>
                                        <li><i class="fa fa-hand-o-right"></i> <a href="/hydro_jetting">Hydro Jetting</a></li>
                                      </ul>

                <!-- <p>Call us now at <a href="tel:+14034755552"><b>403-475-5552</b></a> to have any drain problem you may might have solved professionally and efficiently.</p> -->
                                    </div> 
                                </div>
                            </div>
                    </div>

                    

                    
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <!-- <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li> -->
    </ul>
                    </div>
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>