<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <% meta title: "Showers and Bathtub",
              description: "We provide services in Plumbing, Drains and Heating. Plumibing Service Calgary"
      %>
      <% metamagic keywords: [:keywords, "Plumbing Service Calgary", "Calgary Plumbers", "Calgary Service Plumbers", "Showers and Bathtub"] %>
      <% metamagic site: "Calgary Service Plumbers", title: [:title , :site], separator: " | " %>
  <!--<meta name="description" content="We provide services in Plumbing, Drains and Heating. Your best Plumbing Solutions">-->
  <!--<title>Calgary Service Plumbers | SHOWERS AND BATHTUBS INSTALLATION</title>-->
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>SHOWERS AND BATHTUB</h2>
            <h3>BATHTUB & SHOWER INSTALLATION SERVICE IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">                       
                        <h3><b>Shower & Bathtubs Installation </b></h3>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
               
                <img class="img-responsive img-blog" src="/assets/plumbing/shower1.jpg"  alt="Shower Repair" />
                
                <p>Having a reliable shower is of high importance to everyone, and to have that reliability, the installation service has to be done with the greatest care by expert shower installation professionals. The Calgary Service Plumbers are just the experts that you would want to have installing your shower & Bathtub fixtures. We pride ourselves on having quality work done, and our plumbers hold themselves to that guarantee, by providing an industry leading warranty on all our labour. By choosing Calgary Service Plumbers as your plumbing company you are going with some of the most highly trained and experienced plumbing professionals around, and as a result your plumbing work, including shower & Bathtub installations, will be long lasting and problem free.</p>

                <p>High quality shower & Bathtubs installation is a fine art with very small tolerances to imperfection to obtain a leakproof shower enclosure without ugly caulks or gaskets. To get it perfect, installations needs to be exact and our technicians at Calgary Service Plumbers pride themselves on being the best in the business. We always work to get perfect results on all our jobs, whether it be installing your shower & Bathtub fixtures, making a new shower rough in, or any other plumbing work for your home or business.</p>
                <p>Calgary Service Plumbers are specialists at installing showers and all kinds of shower fixtures, so call us at <a href="tel:+14034755552"><b>(403) 475-5552</b></a> or email us for a free estimate. You can be assured that we will be on time, and give you the best service in the Calgary.</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    <div class="blog-item">
                        <h4><b>Our Shower Installation Help</b></h4>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">                                        
                <ul class="list-unstyled">
                    <li><i class="fa fa-hand-o-right"></i> Shower , Bathtub Installation</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower, Bathtub Drain Leak Repair</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower, Bathtub Drain Installation</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Installation Plumbing</li>
                    <li><i class="fa fa-hand-o-right"></i> Replace Shower Valve</li>
                    <li><i class="fa fa-hand-o-right"></i> Plumbing for a Shower Drain</li>
                    <li><i class="fa fa-hand-o-right"></i> Plumbing Shower Faucet</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Plumbing Fixtures</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Faucet Installation</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Installation Toronto</li>
                    <li><i class="fa fa-hand-o-right"></i> Installing a Shower Fixture</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Installation Services</li>
                    <li><i class="fa fa-hand-o-right"></i> Shower Plumbing, Shower Plumbers</li>
                    <li><i class="fa fa-hand-o-right"></i> Bathroom Shower Plumbers</li>
                </ul>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <img class="img-responsive img-blog" src="/assets/plumbing/shower2.jpg"  alt="Shower Fixing in calgary" />
                    </div>
                </div>
                                    </div> 
                                </div>
                            </div>
                    </div>

                    
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div> -->
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>