<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>GARBAGE DISPOSAL</h2>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                   
                       <!--  <h6>Installation and Repair, All Major Brands on Sale, Calgary, CA</h6> -->
                    <div class="blog-item">
                <h3><b>Kitchen Garbage Disposal, Repaire & Replacement Calgary</b></h3>
                            <div class="row"> 
                                <div class="blog-content">
                                    <div class="media-body pad_top2">
                <p class="col-sm-3">
                     <img class="img-responsive img-blog" src="/assets/plumbing/garbage.png"  alt="garbage" />
                </p> 
                <p class="col-sm-9">A garbage disposal unit under your sink provides you with many benefits including: stopping waste from getting into your piping which can cause expensive damages, and cutting environmental pollution from wastewater. Here at Calgary Service Plumbers our skilled and courteous plumbers can install garbage disposal units for your sinks in a timely and professional manner. If you already have a unit and there is a problem with it, we can promptly come and repair it at a time that is convenient for you. There are absolutely no garbage disposal installation or repair jobs that we can't handle, and our caring servicemen are always committed to giving you the highest quality results, for the best prices in the city. 
                </p>                                                      
                
                                    </div> 
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <h4>Call us today at <b>403-475-5552</b></h4>
                    </div>


                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget search">
                        <!-- <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form> -->
                    </div>
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SW <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: +1 403-475-5552 <br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
        <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>


                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div>  -->                       
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>