<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>INCREASE WATER PRESSURE</h2>
            <h3>CALGARY WATER PRESSURE SERVICE CONTRACTOR</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">
                      <img class="img-responsive img-blog" src="/assets/plumbing/water_pressure.jpg"  alt="CALGARY WATER PRESSURE SERVICE CONTRACTOR" />

                        <p>Water pressure is the strength of the flow of water travelling through a homes water pipe. The more water that is pushed through a pipe, the greater the pressure. Anyone who has had the trouble of low pressure knows how frustrating the experience can be. Low pressure can result in poor toilet flushing, terrible showers, inability to wash clothing, and poor rinsing of the dishes.</p>
                        <p>We do not recommend using booster pumps to increase your water pressure. Our experience shows that customers who choose this method generally are not satisfied with their results.  Calgary Service Plumbers has the man power and skill set needed to get the job done.</p>
                            
                    </div>
                    <div class="col-sm-12 text-center">
                        <h4>Contact our team today at <a href="tel:+14034755552"><b>403-475-5552</b></a></h4>
                    </div>                    
                        
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div> -->
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>