<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Single | Corlate</title>
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>PLUMBING EMERGENCIES</h2>
            <h3>CALGARY EMERGENCIES PLUMBING SERVICES</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">                        
                        
                        <img class="img-responsive img-blog" src="/assets/plumbing/emergency_plumbing.jpg"  alt="" />
                        
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 blog-content">
                                    <div class="media-body">                                        
               <p>In a perfect world, everything would happen to our convenience and according to our schedules. However, the world is not perfect and emergencies often occur at the most inconvenient times. This can be especially true when things go wrong with the home plumbing system. Sometimes plumbing problems arise at the worse possible times and you need to get repair work done right away. When a homeowner is in a situation like this, they need to find an emergency plumber in Calgary.</p>
               <p>Plumbing emergencies can basically be divided into two categories. The first are those that impair the system to the point where fundamental components are rendered unusable and therefore, make the home unfit for everyday life. The other category is plumbing problems that threaten to damage other parts of the home if they are not addressed. Fortunately, Calgary servicePlumbers understands the urgency of these problems and offers 24 hour service 7 days a week.</p>
               <p>For most of the common plumbing emergencies, our expert technicians will be able to provide a solution right away. If, however, there is need for additional procedures to make sure the repair is perfectly secure, we will provide the best temporary fix immediately either by getting the plumbing suitably running for short-term use or by containing the problem in a way that at least stops the damage from spreading. Then return and provide the permanent fix.</p>
               <p>The vast majority of plumbing problems can be fixed by setting an appointment and having a professional come at the convenience of homeowner. But you never really can tell when a serious issue may arise and this is especially true for older homes. No matter what the problem may be or when it may happen, Calgary Service Plumbers has the man power and skill set needed to get the job done. Contact our team today for emergency service and scheduled maintenance!</p>
                                    </div> 
                                </div>
                            </div>
                    </div>

                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: +1 403-475-5552 <br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div> -->
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>