<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <% meta title: "Sinks",
              description: "We provide services in Plumbing, Drains and Heating. Plumibing Service Calgary"
      %>
      <% metamagic keywords: [:keywords, "Plumbing Service Calgary", "Calgary Plumbers", "Calgary Service Plumbers", "Sink Plumbing Services"] %>
      <% metamagic site: "Calgary Service Plumbers", title: [:title , :site], separator: " | " %>
  <!--<meta name="description" content="We provide services in Plumbing, Drains and Heating. Your best Plumbing Solutions">-->
  <!--<title>Calgary Service Plumbers | KITCHEN SINK, BATHROOM SINK REPAIR & REPLACEMENT </title>-->
</head><!--/head-->

<body>

    <section id="blog" class="container">
        <div class="center">
            <h2>SINKS</h2>
            <h3>KITCHEN SINK, BATHROOM SINK REPAIR & REPLACEMENT IN CALGARY</h3>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="blog-item">
                      <img class="img-responsive img-blog" src="/assets/plumbing/sink_plumbing1.jpg"  alt="sink repair - plumbing services calgary" />

                        <p>Calgary Service Plumbers will professionally install all types of kitchen sinks and bathroom sinks. When you call us to have any kind of sink installation done, the services we provide include: Taking away your old sink and properly disposing of it. Professionally installing your new sink, which includes connecting the drains to existing plumbing.</p>
                        <p>Connecting the faucet to the water supply, and providing a solid warranty for the work we've done. Calgary Service Plumbers will ensure that your sink installation is of the highest quality and that the job is done right, the first time. We will also install your faucets, garbage removal unit, and any water filters you may have, at the same time, so the project will be completed to your satisfaction. Our plumbers have significant experience and will install a wide range of sinks in nearly any location you request.
                        </p>
                        <p>For any kitchen sink repair emergency or installation, we would be glad to serve you, so give our office a call anytime at <b>403-475-5552</b>  to book one of Calgary top plumbers.</p>
                            
                    </div>                    
                        
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <address>
                        <h5><b>CALGARY SERVICE PLUMBER</b></h5>
                        <p>2036 35 St SE <br>
                        T2B0W9 Calgary, Alberta</p>
                        <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
                        Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                    </address>
                    <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
                    
                    
                    <!-- <div class="widget blog_gallery">
                        <h3>Our Gallery</h3>
    <ul class="sidebar-gallery">
        <li><img src="/assets/gallery/gal-bathroom-lav.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-double-caparment-sink.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-gernal-pic.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-home-plumbing.gif" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-hydrojetting_plumbing.jpg" class="img-responsive" alt="" /></li>
        <li><img src="/assets/gallery/gal-IndoorAirQualityh.gif" class="img-responsive" alt="" /></li>
    </ul>
                    </div> -->
                        
                    
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>