<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="We provide services in Plumbing, Drains and Heating. Your best Plumbing Solutions">
  <title>Calgary Service Plumbers | SCHEDULE FOR YOUR PLUMBING REPAIRS</title>
</head><!--/head-->
<body>

    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>SCHEDULE SERVICE</h2>
               <h3>SCHEDULE FOR YOUR PLUMBING REPAIRS, INSTALLATIONS, SEWER LINE CLEANING</h3>
            </div>

            <div class="row">
                <div class="col-sm-8 text-justify">
                  <div class="blog-item">
                      <h4><b>Full Plumbing Services</b></h4>
                    </div>
                    
                    <div class="blog-item">                                               
                        <ul class="sidebar-gallery">
                          <li><img class="img-responsive img-blog" src="/assets/service/home-plumbing.gif"  alt="Schedule a Plumbing Service" /></li>
                          <li><img class="img-responsive img-blog" src="/assets/service/repair.png"  alt="Schedule a Plumbing Service" /></li>
                        </ul>                      
                  </div>
                    <div class="blog-item">
                    <h5><b>Get 10% additional discount when you schedule a service right now! Please mention Promo Code: CSP</b></h5>
                    </div>
                    <div class="blog-item">
                    <h5><a href="#">Cancel or re-schedule your service.</a></h5>
                    </div>


                    <ul>
                        <li>Best local plumbers equiped with latest equipment and technology</li>
                        <li>Hydro-jet machines to remove the most stubborn sewer line obstructions;</li>
                        <li>Full drain cleaning and rooting services;</li>
                        <li>Installation or replacement of water heaters and garbage disposal units;</li>
                        <li>Kitchen, bath, shower and toilet;</li>
                        <li>Installation or replacement of pipes, faucets and fixtures;</li>
                    </ul>
                    <div class="text-center">
                        <img class="img-blog" src="http://mrspeedyplumbing.com/wp-content/uploads/2015/02/bulina10.png"  alt="Plumbing Services in calgary" />
                    </div>

                    <p>Please fill out the form below in its entirety. The more details you give us, the more we will know about your plumbing issue. As soon as we receive your form, a customer service representative will call you to further discuss your problem, and we’ll arrange to send out a CSP technician to take care of your request and resolve your issue so your home or business can back to normal as soon as possible.</p>
                    <p>Calgary Service Plumbers is a licensed plumbing company providing the full range of professional plumbing services to residential customers throughout Calgary. We have great plumbers, who do great work, and we charge very fair prices. Our plumbers have years of experience in the field, and we provide them with all the best tools and the latest equipment to handle any plumbing issue. Our service vans are loaded with replacement parts and fixtures, so there’s no waiting while your service technician goes out to get the part or fixture that you need.</p>
                
                  </div>
                
            
                <div class="col-sm-4 text-justify">

      <address>
          <h5><b>CALGARY SERVICE PLUMBER</b></h5>
          <p>2036 35 St SE <br>
          T2B0W9 Calgary, Alberta</p>
          <p>Phone: <a href="tel:+14034755552">+1 403-475-5552</a><br>
          Email: <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
      </address>
      <div class="well">
      <%= form_for @user, html: {multipart: :true } do |f| %>
<h4><b>SCHEDULE SERVICE</b></h4>
 <div class="form-group">   
    <%= f.label :'name *' %><br>
    <%= f.text_field :name, type:"text", tabindex: "1", class: "form-control", placeholder: 'Enter your name',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'email *' %><br>
    <%= f.text_field :email, type:"email", tabindex: "2", class: "form-control",  placeholder: 'Enter your email address',  required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'phone *' %><br>
    <%= f.number_field :phone, type:"tel", tabindex: "3", class: "form-control", placeholder: 'Enter your phone number', required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :'postal *' %><br>
    <%= f.text_field :postal, type:"text", tabindex: "4", class: "form-control",  placeholder: 'Enter the postal code', required: true  %>
  </div>
  <div class="form-group">                
      <%= f.label :'Type of Plumbing or Rooter Issue' %>                                      
      <%= f.select :issue, [['Residential'], ['Restaurant']], {}, tabindex: "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :'Please provide details about your plumbing issue *' %><br>
    <%= f.text_area :message, type:"text", tabindex: "6", class: "form-control",  placeholder: 'Write your plumbing issue', rows: "8", required: true  %>
  </div>
  <!-- <div class="form-group">   
       <div class="field">
         <%= f.label :'Submit a picture if available' %><br>
         <%= f.file_field :avatar, :multiple => true %>
       </div>     
   </div> -->

  <div class="actions">
    <%= f.submit 'Send', tabindex: "8", :class => 'btn btn-primary btn-block' %>
  </div>
<% end %>
        </div>
    

    <!--  <div class="col-sm-12">                          

                              <%= form_tag users_path,:multipart => true,  class: "form-horizontal" do  %>                              

                              <div class="form-group">
                                  <label class="control-label col-sm-3">Name</label>
                                  <div class="col-sm-9">                                  
                                      <%= text_field_tag "user[name]", nil, type:"text", tabindex: "1", class: "form-control",  placeholder: 'Name' %>
                                  
                                  </div>
                              </div>                       


                              <div class="form-group">
                                  <label class="control-label col-sm-3">email</label>
                                  <div class="col-sm-9">                                  
                                      <%= text_field_tag "user[email]", nil, type:"text", tabindex: "3", class: "form-control",  placeholder: 'email' %>
                                  </div>
                              </div>
                              
                              <div class="col-xs-6 col-sm-4">
                                        <%= submit_tag 'Submit', :class => 'btn btn-warning btn-block',tabindex: "8" %>
                                    </div>
                          
                              <% end %>

                                    
                              </div> 
 -->                  <!-- <div class="well">
                    <form>
                        <h4><b>SCHEDULE SERVICE</b></h4>
                        <div class="form-group">
                            <label for="inputName">Name *</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email *</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone *</label>
                            <input type="text" class="form-control" id="inputPhone" placeholder="Phone" required>
                        </div>
                        <div class="form-group">
                            <label for="inputZip">Zip Code *</label>
                            <input type="text" class="form-control" id="inputZip" placeholder="Zip Code" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDropdown">Type of Plumbing or Rooter Issue</label>
                            <select class="form-control">
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Restaurant</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Please provide details about your plumbing issue</label>
                            <textarea type="text" class="form-control" id="lastname" rows="8" 
                                placeholder="Please provide details about your plumbing issue"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputfile">Submit a picture if available</label>
                            <input type="file" id="inputfile">
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                    </div> -->

                    
                </div>
            </div>

                

            

            
        </div>

    </section><!--/#portfolio-item-->
    <section id="services" class="service-item">
       <div class="container">

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">DOREEN L.</h3>
                            <p>Extremely professional and friendly. I needed an emergency job to be done and they were very helpful and responsive. Would use them again....</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">LINDA G. T</h3>
                            <p>I have never called CSP before, but i’m really glad that I did. I think the technician was very knowledgeable, and knew exactly what wa...</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        
                        <div class="media-body">
                            <h3 class="media-heading">BONNIE D.M.</h3>
                            <p>Phenomenal Service! I was very impressed with the plumbers at CSP, they were on time and courteous over the phone. They had gre...</p>
                        </div>
                    </div>
                </div>  
                                               
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Calgary Service Plumber",
  "image" : "http://www.calgaryserviceplumbers.com/assets/logo.jpg",
  "telephone" : "+1 (403) 475-5552",
  "email" : "info@calgaryserviceplumbers.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "2036 35 St SE",
    "addressLocality" : "Calgary",
    "addressRegion" : "Canada",
    "postalCode" : "T2B 0W9"
  },
  "openingHoursSpecification" : {
    "@type" : "OpeningHoursSpecification",
    "dayOfWeek" : {
      "@type" : "DayOfWeek",
      "name" : "Open Weekends and Evenings"
    }
  },
  "url" : "http://www.calgaryserviceplumbers.com/"
}
</script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.isotope.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/wow.min.js"></script>
</body>
</html>
