<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <meta name="language" content="english">

  <link rel="icon"
        type="image/png"
        href="http://www.calgaryserviceplumbers.com/assets/logo.jpg">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/animate.min.css" rel="stylesheet">
    <link href="/assets/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <link href="/assets/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/assets/html5shiv.js"></script>
    <script src="/assets/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
	<header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="top-number" id="top_header">
                <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@calgaryserviceplumbers.com">info@calgaryserviceplumbers.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/pages/Calgary-service-plumbers-inc/1382425148749426?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/Calgaryplumber0" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/u/0/107796961169240224027/posts" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <div class="mid-bar">
            <div class="container">
                <div class="row">
			        <div class="col-sm-12">
				        <div class="address-bar">
				        	<div class="col-sm-2 title_line">
				        <a href="/"><img src="/assets/logo.jpg" class="img-responsive" alt="Calgary Service Plumbers"></a>
				        	</div>
                            <div class="col-sm-4 hidden-xs title_line">
                                <h2>Calgary Service Plumbers</h2>
                                <h5>Your Friendly Neighbourhood Plumber</h5>
                            </div>				        	
                            <div class="col-sm-3 tag_line">
				        		<h6>WE KNOW YOUR PLUMBING NEEDS</h6>
				        		<h6>WE GUARANTEE THE RIGHT SOLUTION!</h6>
                                <h3><a href="tel:+14034755552"><i class="fa fa-phone-square"></i>  +1 (403) 475-5552 </a></h3>
				        	</div>
                            
				        	<!--<div class="col-sm-3">-->
                                <!--<img src="/assets/plumber-northside-brisbane.jpg" alt="plumber-northside-brisbane">-->
				        	<!--</div>-->
				        </div>
			    	</div>
		    	</div>
			</div>
		</div>

        <nav class="nav-bar-menu navbar navbar-inverse mar_botm2" role="banner">
            <div class="container nav-bar-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="index.html"><img src="/assets/logo.png" alt="logo"></a> -->
                </div>
				
                <div class="nav-bar-menu collapse navbar-collapse navbar-right">
                    <ul class="nav-bar-menu nav navbar-nav">
                        <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
                        <li class="dropdown <%= 'active' if current_page?(emergencies_path) || current_page?(toilets_path) || current_page?(faucets_path) || current_page?(water_pressure_path) || current_page?(shower_bathtabs_path) || current_page?(sinks_path) || current_page?(sump_pumps_path) || current_page?(frozen_pipes_path) || current_page?(water_heater_path) || current_page?(garbage_disposal_path) %>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plumbing <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="<%= 'active' if current_page?(emergencies_path) %>"><a href="/emergencies">Plumbing Emergencies</a></li>
                                <li class="<%= 'active' if current_page?(toilets_path) %>"><a href="/toilets">Toilets</a></li>
                                <li class="<%= 'active' if current_page?(faucets_path) %>"><a href="/faucets">Faucets</a></li>
                                <li class="<%= 'active' if current_page?(water_pressure_path) %>"><a href="/water-pressure">Increase Water Pressure</a></li>
                                <li class="<%= 'active' if current_page?(shower_bathtabs_path) %>"><a href="/shower-bathtabs">Showers and BathTub</a></li>
                                <li class="<%= 'active' if current_page?(sinks_path) %>"><a href="/sinks">Sinks</a></li>
                                <li class="<%= 'active' if current_page?(sump_pumps_path) %>"><a href="/sump-pumps">Sump Pumps</a></li>
                                <li class="<%= 'active' if current_page?(frozen_pipes_path) %>"><a href="/frozen-pipes">Frozen Pipes</a></li>
                                <li class="<%= 'active' if current_page?(water_heater_path) %>"><a href="/water-heater">Water Heaters</a></li>
                                <li class="<%= 'active' if current_page?(garbage_disposal_path) %>"><a href="/garbage-disposal">Garbage Disposals</a></li>
                            </ul>
                        </li>
                        <li class="dropdown <%= 'active' if current_page?(drain_cleaning_path) || current_page?(drain_replacement_path) || current_page?(drain_repair_path) || current_page?(backwater_path) || current_page?(camera_inspection_path) || current_page?(hydro_jetting_path) || current_page?(drain_sewer_clog_path)  %>">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drains <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="<%= 'active' if current_page?(drain_cleaning_path) %>"><a href="/drain-cleaning">Drain Cleaning</a></li>
                                <li class="<%= 'active' if current_page?(backwater_path) %>"><a href="/backwater">Backwater Valves Installation</a></li>
                                <li class="<%= 'active' if current_page?(drain_replacement_path) %>"><a href="/drain-replacement">Drain Replacement</a></li>
                                <li class="<%= 'active' if current_page?(drain_repair_path) %>"><a href="/drain-repair">Drain Repair</a></li>
                                <li class="<%= 'active' if current_page?(camera_inspection_path) %>"><a href="/camera-inspection">Camera Inspection</a></li>
                                <li class="<%= 'active' if current_page?(hydro_jetting_path) %>"><a href="/hydro-jetting">Hydro Jetting</a></li>
                                <li class="<%= 'active' if current_page?(drain_sewer_clog_path) %>"><a href="/drain-sewer-clog">Sewer Clog Removal</a></li>
                            </ul>
                        </li>
                        <li class="<%= 'active' if current_page?(heating_path) %>"><a href="/heating">Heating</a></li>
                        <li class="<%= 'active' if current_page?(schedule_path) %>"><a href="/schedule">Schedule Service</a></li>
                        <li class="<%= 'active' if current_page?(specials_path) %>"><a href="/specials">Specials</a></li>
                        <li class="<%= 'active' if current_page?(contact_path) %>"><a href="/contact">Contact Us</a></li> 
                        <li class="<%= 'active' if current_page?(articles_path) || current_page?(new_blogger_session_path) || current_page?(new_article_path) %>"><a href="/articles">Blog</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

<%= yield %>

        <div class="footer-top-bar">
            <div class="container">
                <div class="row">                    
                    <div class="col-xs-12 col-sm-6">
                      <div class="col-md-6">
                        <h2 class="r_h2">LOCATIONS</h2>
                      </div>

                        <div class="form-group col-md-6 pad_top1">
                            <select class="form-control col-sm-6">
                                <option value="">Calgary</option>
                                <option value="">Airdrie</option>
                                <option value="">Chestermere</option>
                                <option value="">Okotoks</option>
                                <option value="">Strathmore</option>
                                <option value="">Cochrane</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="col-sm-6 hidden-xs text-right">
                        <h2>CALL NOW <a href="tel:+14034755552">+1 403-475-5552</a></h2>
                    </div>
                    <div class="col-sm-12 hidden-sm hidden-md hidden-lg">
                        <h2 class="r_h2">CALL NOW <a href="tel:+14034755552">+1 403-475-5552</a></h2>
                    </div>                       
                </div>
            </div>
        </div>
        


    <footer id="footer" class="nav-bar-menu midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a href="/">Calgary Service Plumber</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/schedule">Schedule Service</a></li>
                        <li><a href="/specials">Specials</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61790255-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Calgary Service Plumber",
  "image" : "http://www.calgaryserviceplumbers.com/assets/logo.jpg",
  "telephone" : "+1 (403) 475-5552",
  "email" : "info@calgaryserviceplumbers.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "2036 35 St SE",
    "addressLocality" : "Calgary",
    "addressRegion" : "Canada",
    "postalCode" : "T2B 0W9"
  },
  "openingHoursSpecification" : {
    "@type" : "OpeningHoursSpecification",
    "dayOfWeek" : {
      "@type" : "DayOfWeek",
      "name" : "Open Weekends and Evenings"
    }
  },
  "url" : "http://www.calgaryserviceplumbers.com/"
}
</script>

</body>
</html>
